<div class="loading-container">
    <h1>LOADING....</h1>
</div>


<script type="application/javascript">
    (function() {

        const userLoadingFinishedHandle = () => {
            $('.loading-container').css('display', 'none');    
        }

        $.subscribe("/login/error", userLoadingFinishedHandle);

        $.subscribe("/login/success", userLoadingFinishedHandle);
    }());

</script>